---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"prove">["data"];

const { title, description, time } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description="Prove activity for WDD 231 " />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article class="container prose">
        <h1>{title}</h1>
        <hr />
        <h2>Activity Instructions</h2>
        <p>Estimated Time: {time}</p>
        <hr />
        <p>
          Please explore the following topics in your preferred method. You
          could use the help of an AI assistant, or you could use other
          resources online such as Stack Overflow, MDN, or Youtube.
          <div class="callout">
            <p>
              For each topic you have been given sample question(s) to get you
              started. However you decide to do your research, at the end of
              each week you should be comfortable answering the questions or
              talking about each topic. As we move further into the semester you
              will notice that the *topics* will turn more into *tasks*. "How
              can I use this thing to accomplish the task I have before me?"
              should be the question you are asking yourself.
            </p>
            <p>
              Whether using StackOverflow, Youtube, or an AI assistant, if you
              ask about accomplishing a task and you get code back you should
              always review the code line by line to understand what it is
              doing, and how it works. Then test that code. Don't just trust
              that it will work correctly.
            </p>
          </div>
          <p>
            Keep digging until you feel like you understand the topics and how
            to apply them. Sometimes this might not take long, other times it
            could take a while. Keep notes as you do your research. Submit these
            notes in ILearn.
          </p>
          <div>
            <h3>Topics:</h3>
            <slot />
          </div>
        </p>
      </article>
      <Footer />
    </main>
  </body>
</html>
